@import "variables";
html {
  background-color: #73c0b0;
}
body {
  background-color: #73c0b0;
  font-family: 'Roboto', sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
  }
  a {
    color: $primary-color ;
    cursor: pointer;
  }
  ul {
  margin: 0;
  padding: 0;
  }


}