@import "../variables";
.game-container {
  button {
    color: #ffffff;
    background-color: #73c0b0;
  }
  position: relative;
  margin: 40px auto;
  padding: 50px;
  width: 1000px;
  height: 450px;
  background-color: #ffffff;

  .game-title {
    width: 100%;
    text-align: center;
    margin:0px;
  }
  .game-content {

    &.hide-content {
      visibility: hidden;
    }
    margin-top: 20px;
    height: 380px;
    .hints-container {
      h3 {
        margin-left: 15px;
      }
      .hint-item {
        width: 300px;
        height: 48px;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 15px;
        background-color: $primary-color;
        color: #ffffff;
        text-align: center;
      }
    }
    .guess-submission-container {
      padding-top: 14px;
      label{
        display:inline-block;
      }
      input {
        height: 25px;
        border: 2px solid #73c0b0;
        padding: 5px;
        width: 200px;
        margin-top:20px;
        margin-bottom:20px;
      }
      .submit-btn {
        margin-top: -3px;
        margin-bottom: 0px;
        height: 39px;
        min-height: 20px;
      }
    }
  }
  .score {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .restart-btn {
    position: absolute;
    top: 250px;
    left: 450px;
    width: 200px;
    color: #ffffff;
    height: 50px;
    font-size: 20px;
  }

}